@media (min-width: 600px) {
  .line-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
  }

  .line-item-container-left {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
  }

  .line-item-name {
    font-weight: 400;
    font-size: 16px;
    color: #565656;
  }

  .line-item-container-right {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
  }

  .line-item-match-button {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 2px;
    margin-left: 12px;
    background-color: #b4e6ff;
  }

  .line-item-button-title {
    font-weight: 300;
    font-size: 14px;
    color: #434343;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }

  .line-item-icon {
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 2px;
    color: #434343;
  }

  .line-item-unmatched-status-icon {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid black;
    background: conic-gradient(#ff7375 0deg 120deg, transparent 120deg 360deg);
  }

  .line-item-matched-status-icon {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid black;
    background: conic-gradient(#fff346 0deg 120deg, transparent 120deg 360deg);
  }

  .line-item-matched-submitted-status-icon {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid black;
    background: conic-gradient(#38f95f 0deg 120deg, transparent 120deg 360deg);
  }
}

@media (max-width: 599px) {
  .line-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
  }

  .line-item-container-left {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
  }

  .line-item-name {
    font-weight: 400;
    font-size: 14px;
    color: #565656;
  }

  .line-item-container-right {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
  }

  .line-item-match-button {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 2px;
    margin-left: 12px;
    background-color: #b4e6ff;
  }

  .line-item-button-title {
    font-weight: 300;
    font-size: 14px;
    color: #434343;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }

  .line-item-icon {
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 2px;
    color: #434343;
  }

  .line-item-unmatched-status-icon {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid black;
    background: conic-gradient(#ff7375 0deg 120deg, transparent 120deg 360deg);
  }

  .line-item-matched-status-icon {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid black;
    background: conic-gradient(#fff346 0deg 120deg, transparent 120deg 360deg);
  }

  .line-item-matched-submitted-status-icon {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid black;
    background: conic-gradient(#38f95f 0deg 120deg, transparent 120deg 360deg);
  }
}
