@media (min-width: 600px) {
  .class-list-container {
    border-radius: 20px;
    width: 100%;
  }
}

@media (max-width: 599px) {
  .class-list-container {
    border-radius: 20px;
    width: 100%;
  }
}
