.title-line-item-table-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding-left: 20px;
}

.title-line-item-title-table-header {
  font-weight: 300;
  font-size: 18px;
  color: #818181;
  padding: 10px 10px 0px 10px;
}

.title-line-item-table-title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 98%;
  padding-left: 20px;
  justify-content: space-between;
}

.title-line-item-title-table-title {
  font-weight: 800;
  font-size: 26px;
  color: #3f3f3f;
  padding: 10px 10px 0px 0px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
