@media (min-width: 1400px) {
  .student-tile-container {
    height: 200px;
    width: 200px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
  }

  .student-tile-container:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  .student-tile-student-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  .student-tile-name {
    font-size: 14px;
    font-weight: 600;
    color: #6e6e6e;
    text-align: center;
  }

  .student-tile-class {
    font-size: 12px;
    font-weight: 600;
    color: #6e6e6e;
    text-align: center;
  }

  .student-tile-reading-level {
    font-size: 12px;
    font-weight: 600;
    color: #6e6e6e;
    text-align: center;
  }

  .student-tile-upload-button {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 2px;
  }

  .student-tile-upload-title {
    font-weight: 300;
    font-size: 14px;
    color: #434343;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }

  .student-tile-upload-icon {
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 2px;
    color: #434343;
  }
}

@media (max-width: 1399px) {
  .student-tile-container {
    height: 200px;
    width: 200px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
  }

  .student-tile-container:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  .student-tile-student-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  .student-tile-name {
    font-size: 14px;
    font-weight: 600;
    color: #6e6e6e;
    text-align: center;
  }

  .student-tile-class {
    font-size: 12px;
    font-weight: 600;
    color: #6e6e6e;
    text-align: center;
  }

  .student-tile-reading-level {
    font-size: 12px;
    font-weight: 600;
    color: #6e6e6e;
    text-align: center;
  }

  .student-tile-upload-button {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 2px;
  }

  .student-tile-upload-title {
    font-weight: 300;
    font-size: 14px;
    color: #434343;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }

  .student-tile-upload-icon {
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 2px;
    color: #434343;
  }
}
