@media (min-width: 600px) {
  .uploaded-container-success {
    padding: 8px;
    border: 1px solid #2bd447;
    color: #2bd447;
    background-color: #f8f8f8;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
  }
  .uploaded-container-error {
    padding: 8px;
    border: 1px solid #c23124;
    color: #c23124;
    background-color: #f8f8f8;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
  }
}

@media (max-width: 599px) {
  .uploaded-container-success {
    padding: 8px;
    border: 1px solid #2bd447;
    color: #2bd447;
    background-color: #f8f8f8;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
  }
  .uploaded-container-error {
    padding: 8px;
    border: 1px solid #c23124;
    color: #c23124;
    background-color: #f8f8f8;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
  }
  .uploaded-label {
    display: none !important;
  }
}
