.invite-line-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.invite-line-item-label {
  padding: 5px;
}

.invite-line-item-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.invite-line-item-email {
  font-size: 18px;
  font-weight: 500;
  color: #242424;
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
}

.invite-line-item-role {
  font-size: 14px;
  font-weight: 300;
  color: #8e8e8e;
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
}
