.form-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input-inner-container {
  width: 90%;
}

.form-input-standard {
  width: calc(100% - 24px);
  padding: 4px 12px;
  margin-bottom: 15px;
  vertical-align: middle;
  border-radius: 10px;
  min-height: 36px;
  background-color: #ffffff;
  border: 1px solid rgba(36, 28, 21, 0.3);
  transition: all 0.2s ease-in-out 0s;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 1px;
}

.form-input-compact {
  width: calc(100% - 24px);
  padding: 0px 12px;
  margin-bottom: 10px;
  vertical-align: middle;
  border-radius: 10px;
  min-height: 36px;
  background-color: #ffffff;
  border: 1px solid rgba(36, 28, 21, 0.3);
  transition: all 0.2s ease-in-out 0s;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 1px;
}

.form-input-large {
  width: calc(100% - 24px);
  padding: 4px 12px;
  margin-bottom: 15px;
  vertical-align: middle;
  border-radius: 10px;
  min-height: 36px;
  background-color: #ffffff;
  border: 1px solid rgba(36, 28, 21, 0.3);
  transition: all 0.2s ease-in-out 0s;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 1px;
}

.form-input-standard:focus {
  outline: none;
  border: 1px solid #37b4d0;
  box-shadow: inset 0 0 0 1px #37b4d0;
}

.form-input-compact:focus {
  outline: none;
  border: 1px solid #37b4d0;
  box-shadow: inset 0 0 0 1px #37b4d0;
}

.form-input-label-no-opt-standard {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  margin-left: 3px;
  color: #aeaeae;
}

.form-input-label-opt-standard {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  margin-left: 3px;
  color: #aeaeae;
  display: flex;
  flex-direction: column;
}

.form-input-label-no-opt-compact {
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  margin-left: 3px;
  color: #aeaeae;
}

.form-input-label-opt-compact {
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
  margin-left: 3px;
  color: #aeaeae;
  display: flex;
  flex-direction: column;
}

.form-input-error {
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  margin-left: 3px;
  color: #fe4d4d;
}

.form-input-opt-text {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: -1px;
  color: #c4c4c4;
}
