.add-class-button:hover {
  cursor: pointer;
}

.add-class-button-label {
  width: fit-content;
}

.add-class-submit-button-icon {
  font-size: 16px;
  padding-left: 8px;
  padding-bottom: 2px;
  color: #ffffff;
}

@media (min-width: 800px) {
  .admin-classes-title {
    font-size: 2rem;
    font-weight: 800;
    color: #2c2c2c;
    padding: 10px;
    letter-spacing: -1px;
  }

  .admin-classes-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .add-class-button {
    color: #ffffff;
    padding: 10px;
    width: fit-content;
    font-size: 16px;
    text-align: right;
    background-color: #5ad06d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: fit-content;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .admin-classes-title {
    font-size: 2.2rem;
    font-weight: 800;
    color: #2c2c2c;
    letter-spacing: -1px;
  }

  .admin-classes-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }

  .add-class-button {
    color: #ffffff;
    padding: 10px;
    width: fit-content;
    font-size: 16px;
    text-align: right;
    background-color: #5ad06d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: fit-content;
  }
}

@media (max-width: 599px) {
  .admin-classes-title {
    font-size: 1.8rem;
    font-weight: 800;
    color: #2c2c2c;
    letter-spacing: -1px;
  }

  .admin-classes-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }

  .add-class-button {
    color: #ffffff;
    padding: 10px;
    width: fit-content;
    font-size: 16px;
    text-align: right;
    background-color: #5ad06d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: fit-content;
  }
}
