@media (min-width: 1100px) {
  .admin-dashboard-title {
    font-size: 2.7rem;
    font-weight: 700;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    letter-spacing: 0px;
  }

  .admin-dashboard-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: 8px;
    margin-left: 20px;
  }

  .admin-dashboard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #81dbf2 0%, #209bb6 100%) !important;
    border-radius: 20px;
  }

  .admin-dashboard-tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 700px) and (max-width: 1099px) {
  .admin-dashboard-title {
    font-size: 2.7rem;
    font-weight: 700;
    color: white;
    padding: 20px 10px 10px 10px;
    letter-spacing: 0px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .admin-dashboard-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: 8px;
    margin-left: 20px;
  }

  .admin-dashboard-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(
      315deg,
      #baf78f 0%,
      #fff2a0 50%,
      #84d7e9 100%
    ) !important;
    border-radius: 20px;
    margin-top: 20px;
  }

  .admin-dashboard-tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: 699px) {
  .admin-dashboard-title {
    font-size: 2.7rem;
    font-weight: 700;
    color: white;
    padding: 20px 10px 10px 10px;
    letter-spacing: 0px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .admin-dashboard-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: 8px;
    margin-left: 20px;
  }

  .admin-dashboard-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(
      315deg,
      #baf78f 0%,
      #fff2a0 50%,
      #84d7e9 100%
    ) !important;
    border-radius: 20px;
    margin-top: 20px;
  }

  .admin-dashboard-tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
