.content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.accordionItem {
  width: 100%;
}

.children {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 300px;
  padding-right: 10px;
  padding-left: 10px;
}

.add-student-button {
  text-decoration: underline;
  color: #323232;
  padding-top: 10px;
  width: fit-content;
  text-align: right;
}

.add-student-button:hover {
  cursor: pointer;
}

.add-student-button-label {
  width: fit-content;
}

.show-button {
  text-decoration: underline;
  color: #323232;
  padding-top: 10px;
  width: fit-content;
  text-align: right;
}

.show-button:hover {
  cursor: pointer;
}

.show-button-label {
  width: fit-content;
}
